{{!< default}}
<header class="main-header article-head {{#if article.cover}}" style="background-image: url({{blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if blog.logo}}
            <a class="blog-logo" href="/"><img src="{{blog.logo}}" alt="{{blog.title}}" /></a>
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
    <article class="article">

        <header class="article-header">
            <h1 class="article-title">{{article.title}}</h1>
            <section class="article-meta">
                <time class="article-date" datetime="{{date format="YYYY-MM-DD"}}">{{date now=true}}</time>
            </section>
        </header>

        <section class="article-content">
            {{{article.content}}}
        </section>
        <footer class="article-footer">
            {{#if article.author.cover}}
            <figure class="author-image">
                <a class="img" href="author/{{article.author.slug}}" style="background-image: url({{article.author.cover}})"><span class="hidden">{{article.author.name}}'s Picture</span></a>
            </figure>
            {{/if}}
            <section class="author">
                <h4><a href="/author/{{article.author.slug}}">{{article.author.name}}</a></h4>
                <p>作者的<a href="/author/{{article.author.slug}}">所有文章</a></p>
            </section>
        </footer>
    </article>
</main>