{{!< default}}

<header class="main-header tag-head {{#if info.cover}}" style="background-image: url({{info.cover}}){{else}}{{#if blog.cover}}" style="background-image: url({{blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if blog.logo}}
            <a class="blog-logo" href="/"><img src="{{blog.logo}}" alt="{{blog.title}}" /></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{info.name}}</h1>
            <h2 class="page-description">{{info.profile}}</h2>
        </div>
</header>

<main>
    {{> 'look'}}
    <nav class="pagination" role="navigation">
        <span class="page-number">Page 1 of 1</span>
    </nav>
</main>
